
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Calibri", sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.bg-vd {
	background-color: #4bacc6 !important;
}
.vd {
	color: #4bacc6 !important;
}
.navbar-brand:focus, .nav-link:focus {
	outline: 0;
}
.form-control:focus {
  border-color: #4bacc6;
  box-shadow: 0 0 5px #4bacc666;
}


.Byer_RadioSec{
    display: inline;
}

/* Business card [START] */

.business-card{
	box-shadow: -10px -10px #D9D9D9;
	margin-top: 15px;
}
img.profile {
	width:60px;
}
img.profile:hover{
	cursor: pointer;
}
.profile_placeholder {
    display: inline-block;
    width:60px;
    height:60px;
    border: 1px solid #ccc;
    border-radius: 60px;
}
.profile_placeholder:hover {
    cursor: pointer;
}
.profile_placeholder:after {
    display: none;
}
.profile_placeholder span {
    display: block;
    width:60px;
    color: #4bacc6;
    font-size: 48px;
    text-align: center;
    line-height: 48px;
    margin: 10px auto;
}
/* iao-alert [START] */

iao-alert{
    background: #fff;
    border: 1px solid #4bacc6;
    color: #495057 !important;
    border-radius: 0;
    padding: 15px 30px 15px 15px;
    margin-top: 20px;
    width: 100%;
	box-shadow: 0 0 5px #4bacc666;
}
iao-alert:hover{
    opacity: 1 !important;
}

/* File upload [START] */

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* Select 2 [START] */

.select2-container--default .select2-selection--single {
	border-radius: 0;
	border: 1px solid #ced4da;
}
.select2-container .select2-selection--single {
	height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
	color: #495057;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}

/* Catalog box [START] */

.vd-stack {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    cursor: pointer;
}

.vd-stack .text {
    position: absolute;
    width: inherit;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.vd-item-badge {
    position: absolute;
    left: 0;
    bottom: 0;
}

.product-form {
    display: block;
    width: 320px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.nav-pills{
    display: flex;
}
.nav-pills li {
    display: flex;
    flex: 1;
}
.nav-pills li a{
    flex: 1;
    color: #fff;
    background-color: #4bacc6;
    overflow: hidden;
}
.nav-pills .nav-link.active, .nav-pills a:hover, .nav-pills .show > .nav-link {
    background-color: #0a7a98;
}
.nav-link.disabled{
    color: #fff;
    cursor: not-allowed;
}
.nav-link.disabled:hover{
    background-color: #4bacc6;
}
/* Posts grid [START] */

.description {
    height: 87px;
    overflow-y: scroll;
}

/* Pagination [START] */

.page-link, .page-link:hover {
    color: #4bacc6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #4bacc6;
    border-color: #4bacc6;
}

/* Search Page */
table span{
    background: green;
    border-radius: 5px 5px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 22px;
}

/* Autocomplete Category Styles */
.auto-suggesstion{
    display: none;
    width: 312px;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #4bacc6;
}
.auto-suggesstion ul{
    margin: 0;
    padding: 0;
}
.auto-suggesstion ul li{
    padding: 5px;
    cursor: pointer;
    list-style: none;
    color: #4bacc6;
}
.auto-suggesstion ul li:hover, .auto-suggesstion ul li:active{
    background-color: #4bacc6;
    color: #FFF;
}
.loading-gif{
    background: #FFF url('../images/ui-anim_basic_16x16.gif') no-repeat 50%;
}